*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Poppins',sans-serif;

background:#041C32;

color:white;

padding:40px;

}

.container{

max-width:900px;

margin:auto;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

.timer{

background:#FFD54F;

color:#041C32;

padding:12px 22px;

border-radius:15px;

font-weight:bold;

font-size:20px;

}

.progress{

margin-bottom:25px;

font-size:20px;

}

.question-card{

background:#0B4F6C;

padding:30px;

border-radius:20px;

margin-bottom:30px;

}

.question-card hr{

margin:20px 0;

opacity:.2;

}

.options{

display:flex;

flex-direction:column;

gap:20px;

}

.option{

background:#064663;

padding:20px;

border-radius:16px;

cursor:pointer;

transition:.25s;

}

.option:hover{

background:#0D6E91;

}

.option.selected{

border:3px solid gold;

}

.option strong{

display:block;

margin-bottom:10px;

font-size:18px;

}

footer{

display:flex;

justify-content:space-between;

margin-top:40px;

}

button{

padding:15px 35px;

border:none;

border-radius:14px;

font-size:17px;

font-weight:600;

cursor:pointer;

background:#FFD54F;

color:#041C32;

}

.submit-section{

text-align:center;

margin-top:35px;

}

#submitBtn{

width:260px;

}

.progress-bar{

height:12px;

background:#173a4d;

border-radius:20px;

overflow:hidden;

margin-bottom:25px;

}

#progressFill{

height:100%;

width:0;

background:gold;

transition:.4s;

}

#questionPalette{

display:grid;

grid-template-columns:repeat(8,1fr);

gap:10px;

margin-bottom:30px;

}

.paletteBtn{

padding:12px;

border-radius:10px;

background:#064663;

color:white;

border:none;

cursor:pointer;

}

.paletteBtn.answered{

background:gold;

color:black;

font-weight:bold;

}
